@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url(normalize_gsk.css);
*, *::after, *::before {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1180px;
  width: 100%; }
  @media (min-width: 575.98px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 767.98px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 991.98px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1199.98px) {
    .container {
      max-width: 1180px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.btn {
  display: inline-block;
  padding: 24px 40px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  color: #fff;
  background: #34547A;
  cursor: pointer; }
  .btn:active {
    transform: translateY(1px); }
  .btn:hover {
    background: #284665; }

.title {
  margin: 0;
  font-weight: 500;
  font-size: 2em;
  line-height: 37px;
  text-align: center;
  color: #000; }

.text {
  margin: 0;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #727272; }

.header {
  padding-top: 50px;
  padding-bottom: 146px;
  background: #EEEFF1; }
  @media (max-width: 767.98px) {
    .header {
      padding-bottom: 80px; } }
  .header__top {
    margin-bottom: 140px; }
    @media (max-width: 991.98px) {
      .header__top {
        margin-bottom: 0; } }
  .header__top-wrapper {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 991.98px) {
      .header__top-wrapper {
        z-index: 998;
        flex-direction: column;
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 250px;
        padding-top: 70px;
        padding-bottom: 50px;
        background: #34547A;
        color: #FFFFFF;
        border-bottom-left-radius: 8px; }
        .header__top-wrapper--active {
          display: flex; } }
    @media (max-width: 400px) {
      .header__top-wrapper {
        width: 100%; } }
  .header__logo {
    display: block;
    margin-left: 20px; }
    @media (max-width: 1199.98px) {
      .header__logo {
        margin-left: 0; } }
    @media (max-width: 991.98px) {
      .header__logo {
        margin-bottom: 20px; } }
  .header__menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media (max-width: 991.98px) {
      .header__menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #FFFFFF; } }
  .header__menu-btn {
    display: none; }
    @media (max-width: 991.98px) {
      .header__menu-btn {
        display: flex;
        z-index: 999;
        position: absolute;
        width: 30px;
        height: 3px;
        top: 40px;
        right: 35px;
        background: #000;
        cursor: pointer; } }
    @media (max-width: 991.98px) {
      .header__menu-btn::before, .header__menu-btn::after {
        content: '';
        position: absolute;
        display: block;
        width: 30px;
        height: 3px;
        top: -7px;
        right: 0;
        background: #000;
        cursor: pointer;
        transition: transform 0.25s; } }
    @media (max-width: 991.98px) {
      .header__menu-btn::after {
        top: 7px; } }
    @media (max-width: 991.98px) {
      .header__menu-btn--active {
        height: 0; } }
    @media (max-width: 991.98px) {
      .header__menu-btn--active::before {
        top: 0;
        transform: rotate(45deg);
        background: #FFFFFF; } }
    @media (max-width: 991.98px) {
      .header__menu-btn--active::after {
        top: 0;
        transform: rotate(-45deg);
        background: #FFFFFF; } }
  .header__menu-item {
    margin-right: 42px;
    display: inline-block; }
    .header__menu-item:last-child {
      margin-right: 29px; }
      @media (max-width: 1199.98px) {
        .header__menu-item:last-child {
          margin-right: 0; } }
    @media (max-width: 991.98px) {
      .header__menu-item {
        margin-right: 0;
        margin-bottom: 5px; } }
  .header__menu-link {
    position: relative;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000; }
    @media (max-width: 991.98px) {
      .header__menu-link {
        color: #FFFFFF; } }
    .header__menu-link::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 1px;
      background: #222;
      transition: width 0.3s; }
      @media (max-width: 991.98px) {
        .header__menu-link::after {
          height: 0; } }
    .header__menu-link:hover::after {
      width: 100%; }
    .header__menu-link--active {
      font-weight: 500;
      color: #34547A; }
      .header__menu-link--active::after {
        height: 0; }
      @media (max-width: 991.98px) {
        .header__menu-link--active {
          color: #FFFFFF; } }
  .header__main-wrapper {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 991.98px) {
      .header__main-wrapper {
        margin-top: 100px; } }
    @media (max-width: 767.98px) {
      .header__main-wrapper {
        margin-top: 50px;
        justify-content: center;
        text-align: center; } }
  .header__media {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (max-width: 767.98px) {
      .header__media {
        flex-basis: 100%;
        margin-bottom: 40px; } }
  .header__media-img {
    max-width: 357px;
    width: 100%; }
    @media (max-width: 991.98px) {
      .header__media-img {
        max-width: 250px; } }
    @media (max-width: 767.98px) {
      .header__media-img {
        max-width: 200px; } }
  .header__content {
    padding-left: 15px;
    flex-basis: 50%;
    max-width: 540px; }
    @media (max-width: 767.98px) {
      .header__content {
        flex-basis: 100%;
        padding-left: 0;
        max-width: 350px; } }
  .header__title {
    margin: 0 0 60px;
    font-weight: 500;
    font-size: 3em; }
    @media (max-width: 991.98px) {
      .header__title {
        margin-bottom: 30px;
        font-size: 2.5em; } }
  .header__description {
    margin: 0 0 60px;
    font-size: 1em;
    line-height: 26px;
    color: #727272; }
    @media (max-width: 991.98px) {
      .header__description {
        margin-bottom: 40px; } }

.about {
  padding-top: 120px;
  padding-bottom: 100px;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  background: #FFF; }
  @media (max-width: 575.98px) {
    .about {
      max-width: 400px; } }
  @media (max-width: 400px) {
    .about {
      max-width: 300px; } }
  .about__title {
    margin-bottom: 50px; }
    @media (max-width: 575.98px) {
      .about__title {
        margin-bottom: 30px; } }

.numbers {
  padding-top: 100px;
  padding-bottom: 50px;
  color: #FFFFFF;
  background: #34547A; }
  .numbers__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .numbers__item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px; }
  .numbers__item-text {
    margin-left: 20px;
    font-size: 1em;
    line-height: 26px; }
    .numbers__item-text span {
      display: block;
      font-size: 1.3125em;
      line-height: 25px;
      font-weight: 500; }

.skills {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #FFF; }
  .skills__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 767.98px) {
      .skills__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media (max-width: 575.98px) {
      .skills__wrapper {
        max-width: 400px;
        margin: 0 auto; } }
    @media (max-width: 400px) {
      .skills__wrapper {
        max-width: 300px;
        margin: 0 auto; } }
  .skills__content {
    flex-basis: 50%; }
    @media (max-width: 1199.98px) {
      .skills__content {
        padding-right: 10px; } }
    @media (max-width: 767.98px) {
      .skills__content {
        flex-basis: 100%;
        padding-right: 0;
        width: 100%;
        text-align: center; } }
  .skills__title {
    margin-bottom: 50px;
    text-align: left; }
    @media (max-width: 991.98px) {
      .skills__title {
        margin-bottom: 30px; } }
    @media (max-width: 767.98px) {
      .skills__title {
        margin-bottom: 50px;
        text-align: center; } }
  .skills__list {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media (max-width: 767.98px) {
      .skills__list {
        margin-bottom: 50px; } }
  .skills__item {
    margin-bottom: 30px; }
    @media (max-width: 991.98px) {
      .skills__item {
        margin-bottom: 15px; } }
    .skills__item:last-child {
      margin-bottom: 0; }
  .skills__item-title {
    margin: 0 0 20px;
    font-size: 1em;
    color: #727272; }
  .skills__item-progress {
    max-width: 445px;
    width: 100%;
    height: 4px;
    border: 0;
    background: #C4C4C4; }
    .skills__item-progress::-webkit-progress-bar {
      background: #C4C4C4; }
    .skills__item-progress::-webkit-progress-value {
      background: #34547A; }
    .skills__item-progress::-moz-progress-bar {
      background: #34547A; }
  .skills__media {
    flex-basis: 50%; }
    @media (max-width: 1199.98px) {
      .skills__media {
        padding-left: 10px; } }
    @media (max-width: 767.98px) {
      .skills__media {
        flex-basis: 100%;
        padding-left: 0; } }
  .skills__media-img {
    display: block;
    width: 100%;
    max-width: 555px;
    background-color: #C4C4C4; }

.workstyle {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #EEEFF1; }
  .workstyle__title {
    margin-bottom: 50px; }
  .workstyle__text {
    max-width: 540px;
    margin: 0 auto 55px; }
  .workstyle__media {
    position: relative;
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
    overflow: hidden; }
  .workstyle__media-after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/icons/play-button.svg") no-repeat center, linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)); }
  .workstyle__media-video {
    display: block;
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    -o-object-fit: cover; }
    .workstyle__media-video[poster] {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.projects {
  padding-top: 28px;
  padding-bottom: 22px;
  background: #FFF; }
  .projects__content {
    display: flex;
    flex-wrap: wrap; }
  .projects__item {
    position: relative;
    flex: 1 0 25%; }
    .projects__item::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../img/icons/check-eye.svg") no-repeat center, linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
      opacity: 0;
      transition: 0.3s; }
    .projects__item:hover::after {
      opacity: 1; }
    @media (max-width: 767.98px) {
      .projects__item {
        flex-basis: 50%; } }
    @media (max-width: 575.98px) {
      .projects__item {
        flex-basis: 100%; } }
  .projects__item-img {
    display: block;
    width: 100%;
    max-width: 480px; }

.clients {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #FFF; }
  .clients__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    @media (max-width: 767.98px) {
      .clients__row {
        justify-content: space-between; } }
  .clients__item {
    flex: 0 0 25%;
    padding-left: 15px;
    padding-right: 15px; }
    @media (max-width: 767.98px) {
      .clients__item {
        flex-basis: 50%; } }
    @media (max-width: 575.98px) {
      .clients__item {
        flex-basis: 100%; } }
  .clients__item-img {
    display: block;
    width: 100%;
    max-width: 255px;
    margin: 0 auto;
    transition: 0.3s; }
    .clients__item-img:hover {
      transform: scale(1.05); }
    @media (max-width: 991.98px) {
      .clients__item-img {
        max-width: 200px; } }
    @media (max-width: 575.98px) {
      .clients__item-img {
        max-width: 255px; } }

.contact {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #EEEFF1; }
  .contact__wrapper {
    max-width: 540px;
    margin: 0 auto; }
  .contact__title {
    margin-bottom: 50px; }
  .contact__text {
    margin-bottom: 65px; }
  .contact__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .contact__input {
    max-width: 255px;
    margin-bottom: 20px;
    padding: 18px 20px;
    flex-basis: 50%;
    border: none;
    font-weight: normal;
    font-size: 0.875em;
    color: #5F5D5D; }
  .contact__textarea {
    min-height: 175px;
    margin-bottom: 50px;
    padding: 18px 20px;
    flex-basis: 100%;
    border: none;
    resize: none;
    font-weight: normal;
    font-size: 0.875em;
    color: #5F5D5D; }
  .contact__submit {
    margin: 0 auto;
    padding: 20px 44px;
    font-size: 0.875em;
    letter-spacing: 0.15em; }
    .contact__submit[value] {
      white-space: pre-line; }

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #34547A;
  color: #FFFFFF; }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 442px) {
      .footer__wrapper {
        justify-content: center; } }
  .footer__copyright {
    margin-left: 20px; }
    @media (max-width: 442px) {
      .footer__copyright {
        margin-bottom: 30px;
        text-align: center; } }
  .footer__copyright-text {
    margin: 0;
    font-size: 0.8125em; }
  .footer__copyright-author {
    margin-bottom: 19px;
    display: block;
    font-size: 1.615em;
    font-weight: 500;
    line-height: 25px; }
  .footer__links {
    display: flex;
    margin-right: 5px; }
  .footer__link {
    margin-left: 22px; }
  .footer__link-icon {
    max-width: 44px;
    width: 100%; }

/*# sourceMappingURL=style.css.map */
