@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "normalize_gsk.css";

*, *::after, *::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1180px;
  width: 100%;

  @media (min-width: 575.98px){
    max-width: 540px;
  }
  @media (min-width: 767.98px){
    max-width: 720px;
  }
  @media (min-width: 991.98px) {
    max-width: 960px;
  }
  @media (min-width: 1199.98px){
    max-width: 1180px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.btn {
  display: inline-block;
  padding: 24px 40px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  color: #fff;
  background: #34547A;
  cursor: pointer;

  &:active {
    transform: translateY(1px);
  }

  &:hover {
    background: #284665;
  }
}
.title {
  margin: 0;
  font-weight: 500;
  font-size: 2em;
  line-height: 37px;
  text-align: center;
  color: #000;
}
.text {
  margin: 0;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.header {
  padding-top: 50px;
  padding-bottom: 146px;
  background: #EEEFF1;

  &__top {
    margin-bottom: 140px;
  }
  &__top-wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: block;
    margin-left: 20px;
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__menu-item {
    margin-right: 42px;
    display: inline-block;

    &:last-child {
      margin-right: 29px;
    }
  }
  &__menu-link {
    position: relative;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 1px;
      background: #222;
      transition: width 0.3s;
    }
    &:hover::after {
      width: 100%;
    }

    &--active {
      position: unset;
      font-weight: 500;
      color: #34547A;
    }
  }

  &__main-wrapper {
    display: flex;
  }
  &__media {
    flex-basis: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

  }
  &__media-img {
    max-width: 357px;
    width: 100%;
  }
  &__content {
    padding-left: 15px;
    flex-basis: 50%;
    max-width: 540px;
  }
  &__title {
    margin: 0 0 60px;
    font-weight: 500;
    font-size: 3em;
    //line-height: 79px;
  }
  &__description {
    margin: 0 0 60px;
    font-size: 1em;
    line-height: 26px;
    color: #727272;
  }
  &__btn {}
}

.about {
  padding-top: 120px;
  padding-bottom: 100px;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  background: #FFF;

  &__title {
    margin-bottom: 50px;
  }
}

.numbers {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFFFFF;
  background: #34547A;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__item-text {
    margin-left: 20px;
    font-size: 1em;
    line-height: 26px;

    & span {
      display: block;
      font-size: 1.3125em;
      line-height: 25px;
      font-weight: 500;
    }
  }
}

.skills {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #FFF;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    flex-basis: 50%;
  }
  &__title {
    margin-bottom: 50px;
    text-align: left;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item-title {
    margin: 0 0 20px;
    font-size: 1em;
    color: #727272;
  }
  &__item-progress {
    max-width: 445px;
    width: 100%;
    height: 4px;
    border: 0;
    background: #C4C4C4;

    &::-webkit-progress-bar {
      background: #C4C4C4;
    }
    &::-webkit-progress-value {
      background: #34547A;
    }
    &::-moz-progress-bar {
      background: #34547A;
    }
  }
  &__media-img {
    display: block;
    width: 100%;
    max-width: 555px;
    background-color: #C4C4C4;
  }
}

.workstyle {
  background: #EEEFF1;
}

.projects {
  padding-top: 28px;
  padding-bottom: 22px;
  background: #FFF;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    flex: 1 0 25%;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../img/icons/check-eye.svg") no-repeat center, linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
      opacity: 0;
      transition: 0.3s;
    }
    &:hover::after {
      opacity: 1;
    }

    @media (max-width: 767.98px) {
      flex-basis: 50%;
    }
    @media (max-width: 575.98px) {
      flex-basis: 100%;
    }
  }
  &__item-img {
    display: block;
    width: 100%;
    max-width: 480px;
  }
}

.clients {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #FFF;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 767.98px) {
      justify-content: space-between;
    }
  }
  &__item {
    flex: 0 0 25%;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 767.98px) {
      flex-basis: 50%;
    }
    @media (max-width: 575.98px) {
      flex-basis: 100%;
    }
  }
  &__item-img {
    display: block;
    width: 100%;
    max-width: 255px;
    margin: 0 auto;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: 991.98px) {
      max-width: 200px;
    }
    @media (max-width: 575.98px) {
      max-width: 255px;
    }
  }
}

.contact {
  background: #EEEFF1;

  &__submit {
    padding: 20px 44px;
    font-size: 0.875em;
    letter-spacing: 0.15em;

    &[value] {
      white-space: pre-line;
    }
  }
}
.footer {
  background: #34547A;
}
