@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url(normalize_gsk.css);
*, *::after, *::before {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1180px;
  width: 100%; }
  @media (min-width: 575.98px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 767.98px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 991.98px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1199.98px) {
    .container {
      max-width: 1180px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.btn {
  display: inline-block;
  padding: 24px 40px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  color: #fff;
  background: #34547A;
  cursor: pointer; }
  .btn:active {
    transform: translateY(1px); }
  .btn:hover {
    background: #284665; }

.title {
  margin: 0;
  font-weight: 500;
  font-size: 2em;
  line-height: 37px;
  text-align: center;
  color: #000; }

.text {
  margin: 0;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #727272; }

.header {
  padding-top: 50px;
  padding-bottom: 146px;
  background: #EEEFF1; }
  .header__top {
    margin-bottom: 140px; }
  .header__top-wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    display: block;
    margin-left: 20px; }
  .header__menu {
    margin: 0;
    padding: 0;
    list-style: none; }
  .header__menu-item {
    margin-right: 42px;
    display: inline-block; }
    .header__menu-item:last-child {
      margin-right: 29px; }
  .header__menu-link {
    position: relative;
    font-size: 1em;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000; }
    .header__menu-link::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 1px;
      background: #222;
      transition: width 0.3s; }
    .header__menu-link:hover::after {
      width: 100%; }
    .header__menu-link--active {
      position: unset;
      font-weight: 500;
      color: #34547A; }
  .header__main-wrapper {
    display: flex; }
  .header__media {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__media-img {
    max-width: 357px;
    width: 100%; }
  .header__content {
    padding-left: 15px;
    flex-basis: 50%;
    max-width: 540px; }
  .header__title {
    margin: 0 0 60px;
    font-weight: 500;
    font-size: 3em; }
  .header__description {
    margin: 0 0 60px;
    font-size: 1em;
    line-height: 26px;
    color: #727272; }

.about {
  padding-top: 120px;
  padding-bottom: 100px;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  background: #FFF; }
  .about__title {
    margin-bottom: 50px; }

.numbers {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFFFFF;
  background: #34547A; }
  .numbers__row {
    display: flex;
    justify-content: space-around; }
  .numbers__item {
    display: flex;
    align-items: center; }
  .numbers__item-text {
    margin-left: 20px;
    font-size: 1em;
    line-height: 26px; }
    .numbers__item-text span {
      display: block;
      font-size: 1.3125em;
      line-height: 25px;
      font-weight: 500; }

.skills {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #FFF; }
  .skills__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .skills__content {
    flex-basis: 50%; }
  .skills__title {
    margin-bottom: 50px;
    text-align: left; }
  .skills__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .skills__item {
    margin-bottom: 30px; }
    .skills__item:last-child {
      margin-bottom: 0; }
  .skills__item-title {
    margin: 0 0 20px;
    font-size: 1em;
    color: #727272; }
  .skills__item-progress {
    max-width: 445px;
    width: 100%;
    height: 4px;
    border: 0;
    background: #C4C4C4; }
    .skills__item-progress::-webkit-progress-bar {
      background: #C4C4C4; }
    .skills__item-progress::-webkit-progress-value {
      background: #34547A; }
    .skills__item-progress::-moz-progress-bar {
      background: #34547A; }
  .skills__media-img {
    display: block;
    width: 100%;
    max-width: 555px;
    background-color: #C4C4C4; }

.workstyle {
  background: #EEEFF1; }

.projects {
  padding-top: 28px;
  padding-bottom: 22px;
  background: #FFF; }
  .projects__content {
    display: flex;
    flex-wrap: wrap; }
  .projects__item {
    position: relative;
    flex: 1 0 25%; }
    .projects__item::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../img/icons/check-eye.svg") no-repeat center, linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
      opacity: 0;
      transition: 0.3s; }
    .projects__item:hover::after {
      opacity: 1; }
    @media (max-width: 575.98px) {
      .projects__item {
        flex-basis: 50%; } }
  .projects__item-img {
    display: block;
    width: 100%;
    max-width: 480px; }

.clients {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #FFF; }

.contact {
  background: #EEEFF1; }
  .contact__submit {
    padding: 20px 44px;
    font-size: 0.875em;
    letter-spacing: 0.15em; }
    .contact__submit[value] {
      white-space: pre-line; }

.footer {
  background: #34547A; }

/*# sourceMappingURL=style.css.map */
